body{
    background-color: #5ec4ff; ;
}

.nav{
    padding: 15px 15px 15px 15px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.6);
}

.nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

.nav ul li{
    font-family: "Monaco", monospace;
    display: inline;
    margin-right: 5em;
    margin-left: 5em;
}

.nav a {
    text-decoration: none; 
    color: white; 
    background-color: blue;
    padding:6px 12px;
    border-radius: 10px;
    transition: all 0.3s;
}

.nav a:hover{
    box-shadow:2px 4px grey;
}






