body{
    background-color: #5ec4ff;
    margin: 0px 0px 15px 0px;
    
}

.header{
    text-align: center;
    font-family: "Monaco", monospace;
    padding: 5px 15px 15px 15px;
    background-color: rgba(255, 255, 255, 0.8);
}

.header a img{
    width: 300px;
    height: 90px;
}

.header h1{
    font-size: 55px; 
    color: #03fcc6;
    -webkit-text-stroke: 1px black; 
}

.nav{
    padding: 15px 15px 15px 15px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.6);
}

.nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

.nav ul li{
    font-family: "Monaco", monospace;
    display: inline;
    margin-right: 5em;
    margin-left: 5em;
}

.nav a {
    text-decoration: none; 
    color: white; 
    background-color: blue;
    padding:6px 12px;
    border-radius: 10px;
    transition: all 0.3s;
}

.nav a:hover{
    box-shadow:2px 4px grey;
}


.submissão{
    display: flex;
    flex-direction:column;
    width:100%;
    align-items: center;
}



.submissão form{
    display:flex;
    flex-direction: column;
    width: 30%;
    row-gap: 15px;
    font-size: large;
}

.submissão input{
    padding: 15px;
}

.submissão .submit{
    padding:6px 12px;
    border-radius: 10px;
    transition: all 0.3s;
    background-color: blue;
    color:white;
    
} 

.submissão .submit:hover{
    box-shadow: 2px 4px grey;
}
