table,tr,th,td {
    border: 1px;
    border-style: solid;
}
table{
    border-radius: 5px;
}

.submissão{
    padding: 5px 15px 15px 15px;
    border:solid;
    border-color:black;
    border-width: 2px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.submissão form{
    display:flex;
    flex-direction: column;
}

.submissão form input{
    margin-top: 5px;
    margin-bottom: 5px;
}

.submissão a input{
    padding: 5px 5px 5px 5px;
    background-color: greenyellow;
}

.iscte{
    margin-top:30px;
    margin-left:10px;
}  

.iscte h3{
    margin-left:10px;
}

.music{
    margin: 10px 10px 10px 10px;
}

.music-list{
    list-style-type: square;
}

.music-list a{
    font-size:large;
}

.patrocionados a img {
    margin-left:10px;
    width: 200px;
    height: 80px;
}

